code {
    font-size: 16px;
}

.tag {
    color: rgb(0, 138, 0);
    font-weight: 900;
}

.selector {
    color: purple;
    font-weight: 900;
}

@media screen and (max-width: 1000px) {
    code {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    code {
        font-size: 12px;
    }
}