.header {
    background-color: var(--header-color);
    box-shadow: 0px 0px 8px black;
    padding: 10px 0px 10px 0px;
}

.header__container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo {
    color: white;
}

.menu__item {
    display: inline;
    margin: 0px 10px 0px 10px;
}

.menu__item a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.menu__item a:hover {
    transition: .3s;
    color: rgb(158, 158, 158);
}