@font-face {
    font-family: Regular;
    src: url("./public/resources/fonts/bebas-neue-bold.ttf");
    font-weight: 400;
}

:root {
    --main-color: #24305e;
    --header-color: #374785;
    --title-content-color: #f76c6c;
    --scroll-bar-thumb-hover: #b14a4a;
    --place-content-color: #a8d0e6;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --big-content: #f8e9a1; 
}

* {
    margin: 0 auto;  
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--header-color);
    box-shadow: 0 0 2 var(--shadow-color) inset;
}

::-webkit-scrollbar-thumb {
    background: var(--title-content-color);
    border-radius: 30px;
    border: 3px solid #374785
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-thumb-hover);
}

body {
    background: var(--main-color);
}

h1 {
    color: white;    
}

li {
    font-size: 16px;
}

#main-header {
    background: var(--header-color);
    padding: 20px;
    box-shadow: 0 0 5px var(--shadow-color);
    margin-bottom: 10px;
}

.container {
    width: 80%;
}

a {
    color: white;
    text-decoration: none;
}

.block {
    display: inline-block;
}

#header-menu li {
    display: inline;
    margin-left: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-auto-rows: 150px;
    width: 100%;
}

.wrapper div {
    margin: 20px;
    border-radius: 20px;    
    box-shadow: 0 0 5px var(--shadow-color);
    background: var(--place-content-color);
    transition: .2s;
    display: flex;
}

.wrapper div:hover {
    transform: scale(1.1);
    transition: .2s;
}

.content-wrapper-left {
    display: grid;
    grid-template-columns: 15% 85%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-wrapper-right {
    display: grid;
    grid-template-columns: 85% 15%;
    margin-bottom: 20px;
    margin-top: 20px;
}


.preview-card {
    width: 100%;
    background: var(--title-content-color);
    border-radius: 20px;
    box-shadow: 0 0 5px var(--shadow-color);
    display: flex;
    align-items: center;    
    height: 100%;
}

.preview-card h2 {
    color: white;
}   

.card-button {
    color: black;
    border: none;
    background: none;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
}

#dialogWindow {
    border-radius: 45px;
    box-shadow: 0 0 5px var(--shadow-color);
    background: var(--big-content);
    animation: fadeIn 0.3s ease-in-out;
    max-width: 80%;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#dialogWindow.close {
    animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#dialogWindow p {
    font-size: 20px;
}

#dialogWindow a {
    color: black;
}

#dialogWindow li {
    font-size: 20px;
}

#dialogWindow button {
    color: black;
    margin-top: 20px;
    width: 100px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        grid-template-columns: repeat(3, 0.5fr);
    }
    
    .content-wrapper-left {
        grid-template-columns: 30% 70%;
    }

    .content-wrapper-right {
        grid-template-columns: 70% 30%;
    }
}

@media screen and (max-width: 800px) {
    .preview-card h2 {
        font-size: 14px;
    }

    .content-wrapper-left {
        display:inline;
    }

    .content-wrapper-right {
        display: flex;
        flex-direction: column;
    }

    .preview-card {
        order: 1;
    }

    .wrapper {
        order: 2;
    }

    .wrapper {
        grid-template-columns: repeat(2, 0.5fr);
    }
}