@font-face {
    font-family: Regular;
    src: url("./public/resources/fonts/bebas-neue-bold.ttf");
    font-weight: 400;
}

* {
    margin: 0 auto;  
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #374785;
    box-shadow: 0 0 2 rgba(0, 0, 0, 0.5) inset;
}

::-webkit-scrollbar-thumb {
    background: #f76c6c;
    border-radius: 30px;
    border: 3px solid #374785
}

::-webkit-scrollbar-thumb:hover {
    background: #b14a4a;
}

body {
    background: #24305e;
}

h1 {
    color: #fff;    
}

li {
    font-size: 16px;
}

#main-header {
    background: #374785;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.container {
    width: 80%;
}

a {
    color: #fff;
    text-decoration: none;
}

.block {
    display: inline-block;
}

#header-menu li {
    display: inline;
    margin-left: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    grid-auto-rows: 150px;
    width: 100%;
}

.wrapper div {
    margin: 20px;
    border-radius: 20px;    
    border: 1px black solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: #a8d0e6;
    transition: .2s;
    display: flex;

}

.wrapper div:hover {
    transform: scale(1.1);
    transition: .2s;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 12% 88%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.preview-card {
    width: 100%;
    background: #f76c6c;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;    
    height: 100%;
}

.preview-card h2 {
    color: #fff;
}   

.card-button {
    color: black;
    border: none;
    background: none;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
}

#dialogWindow {
    border-radius: 45px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: #f8e9a1;
    animation: fadeIn 0.3s ease-in-out;
    top: 20%;
    max-width: 80%;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#dialogWindow.close {
    animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#dialogWindow p {
    font-size: 20px;
}

#dialogWindow a {
    color: black;
}

#dialogWindow li {
    font-size: 20px;
}

#dialogWindow button {
    color: black;
    margin-top: 20px;
    width: 100px;
    cursor: pointer;
}
