* {
    margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 700;
}

body {
    background: #0c0032;
}

button {
    cursor: pointer;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center
}

.card {
    padding: 20px;
    width: 50%;
    margin: 40px;
    background: #190061;
    border-radius: 30px;
    box-shadow: 0 0 10px #240090; 
}

#myForm input {
    margin-bottom: 20px;
}

input {
    color: white;
    background: #282828;
    border: 0;
    width: 30rem;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #240090;
}

.createButton {
    background: #3500d3;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    height: 35px;
    width: 150px;
}

.deleteButton {
    background: rgb(255, 39, 39);
    color: black;
    border: 0;
    height: 35px;
    width: 150px;
    border-radius: 30px;
    margin: 10px;
}

.editButton {
    background: #3500d3;
    color: black;
    border: 0;
    height: 35px;
    width: 150px;
    border-radius: 30px;
    margin: 10px;
}

.successPointButton {
    background: greenyellow;
    height: 35px;
    width: 150px;
    color: black;
    border-radius: 30px;
    margin: 10px;
}

#list li {
    margin-top: 30px;
}

.textSpot {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: 100%;
    }

    input {
        width: 20rem;
    }
}