body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#main-header {
    background: rgb(133, 164, 225);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

#header-menu li {
    display: inline;
    padding: 30px;
}

#header-menu li a { 
    color: black;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.block {
    display: inline-block;
}   

main {
    margin-top: 50px;
}